*.o
*.dSYM
*.csv
*.out
*.pyc
*.weights
*.backup
*.jpg
weights/
backup/
data/
old/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
